@using KK.Models
@model KK.Models.PhotoDropDown
@{
    // SET Photo Controller for more information
}
<div>
    <img id="@(Model.PhotoViewID)" src="/Photo/GetPhoto?size=t&photoId=@(Model.SelectedPhotoID.ToString())" alt="Select a photo" />
</div>
<div>
    <select name="PhotoSelect" onchange="javascript:@(Model.OnChange);" style="width:300px; height:25px;">
        <option value="">No Photo</option>
        @foreach (Photo photo in Model.Photos)
        {
            <option @(Model.SelectedPhotoID == photo.PhotoID ? "selected='selected'" : "") style="background:url('/Photo/GetPhoto?photoId=@(photo.PhotoID)&size=t') no-repeat 95% 50%; height:50px; text-index:25px;" value="@(photo.PhotoID)">
                @(photo.PhotoName)
            </option>
        }
    </select>
</div>