
<script type="text/javascript" src="Scripts/js/gallery.js"></script>
<div class="gallery_container">
    <div class="gallery" style="background-image:url('Images/gallery/01.jpg')">
        <div class="gallery_note">
    	    Kenya Keys' Director Rinda Hayes meets with secondary school girls in rural kenya who make up the 
            Save Our Sisters (SOS) group, which aims to help girls stay in school.
        </div>
    </div>
    <div class="gallery_paging">
	    <div class="gallery_pages">
		    <img class="gallery_page" alt="0" src="Images/gallery/gallery_page_selected.png" />
		    <img class="gallery_page" alt="1" src="Images/gallery/gallery_page.png" />
		    <img class="gallery_page" alt="2" src="Images/gallery/gallery_page.png" />
		    <img class="gallery_page" alt="3" src="Images/gallery/gallery_page.png" />
	    </div>
    </div>
</div>
