@{
    
}

<div>
    @Html.Action("List", "Slide", null)
</div>

<div>
    <div style="margin-left:10px; margin-top:15px;">
        <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FKenya-Keys%2F102788669795503&amp;width=450&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;show_faces=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
        </div>
</div>

